#search-root {
  padding: 7.5rem 2rem 2rem calc(250px + 2rem);
  transition: 0.3s ease;
  background: rgba(67, 197, 196, 0.3);
}

#search-root.expanded {
  padding: 7.5rem 2rem 2rem 2rem;
}

/* Search Header */

#search-root .top-row {
  position: fixed;
  width: calc(100% - 250px - 2rem);
  top: 56px;
  left: calc(250px);
  padding-left: 2rem;
  padding-bottom: 0.5rem;
  padding-top: 0.5rem;
  border-bottom: 1px solid #8e8e93;
  background: #ffffff;
  display: flex;
  justify-content: space-between;
  transition: 0.3s ease;
}

#search-root .top-row.expanded {
  width: calc(100% - 2rem);
  left: 0;
}

#view-as {
  display: flex;
  align-items: center;
  padding-right: 2rem;
}

#view-as p {
  margin-right: 1rem;
}

#view-as button {
  appearance: none;
  background: none;
  border: none;
  outline: none;
  padding-top: 3px;
  cursor: pointer;
}

#view-as [alt="list"] {
  margin-right: 0.25rem;
}

#view-as [alt="grid"] {
  margin-left: 0.25rem;
}

/* Search Box */

#search-form {
  display: flex;
}

#search-form input {
  font-size: 14px;
  margin: 0;
  padding: 8px 11px;
  border-right: none;
  border-left: 1px solid #8E8E93;
  border-top: 1px solid #8E8E93;
  border-bottom: 1px solid #8E8E93;
  outline: none;
}

#search-form button {
  appearance: none;
  border-left: none;
  border-right: 1px solid #8E8E93;
  border-top: 1px solid #8E8E93;
  border-bottom: 1px solid #8E8E93;
  padding: 8px 11px;
  margin: 0;
  background: none;
}

#search-form img {
  width: 20px;
  height: auto;
}

/* Search Filters */
#search-filters {
  position: fixed;
  left: 0px;
  top: 57px;
  z-index: 100;
  width: calc(250px - 2rem);
  padding: 0 1rem 50px;
  height: calc(100vh - 107px);
  overflow-y: scroll;
  background: #ffffff;
  border-right: 1px solid #8E8E93;
  transform: translate3d(0,0,0);
  transition: 0.3s ease;
}

#search-filters.hidden {
  transform: translate3d(-251px,0,0);
}

#toggle-filters {
  appearance: none;
  outline: none;
  border: none;
  position: fixed;
  top: calc((100vh - 57px) / 2);
  left: 251px;
  z-index: 101;
  background-color: rgb(67, 197, 196);
  color: #ffffff;
  width: 20px;
  text-align: center;
  text-transform: uppercase;
  padding: 0.25rem;
  cursor: pointer;
  transform: translate3d(0,0,0);
  transition: 0.3s ease;
}

#toggle-filters:hover {
  background-color: rgba(67, 197, 196, 0.7);
}

#toggle-filters.left {
  transform: translate3d(-251px,0,0)
}

#toggle-filters p {
  margin: 0;
}

#apply-filters {
  appearance: none;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 102;
  background-color: rgb(67, 197, 196);
  color: #ffffff;
  border: none;
  margin: 0;
  padding: 1rem 0;
  text-transform: uppercase;
  font-size: 16px;
  width: 250px;
  transition: 0.3s;
  transform: translate3d(0,0,0);
  cursor: pointer;
}

#apply-filters:hover {
  background-color: rgb(57, 153, 153);
}

#apply-filters.hidden {
  transform: translate3d(-250px,0,0);
}

/* Search Results */
#results-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 2rem;
  width: 100%;
}

.grid-card {
  width: calc(50% - 1rem);
  margin: 0.5rem 0;
  cursor: pointer;
  transition: 0.3s ease;
  background-color: #ffffff;
  outline: none;
}

.grid-card:hover {
  box-shadow: -1px 3px 5px 0 #8E8E93;
}

.grid-card.compact {
  width: calc(33% - 1rem);
}

.grid-card-image {
  width: calc(100% - 4rem);
  height: calc(350px - 4rem);
  margin: 2rem 2rem 1rem;
  display: flex;
  justify-content: center;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #ffffff;
}

.grid-card-info {
  padding: 0 1rem;
  font-size: 20px;
  display: flex;
  justify-content: space-between;
}

.grid-card-info p {
  margin: 10px 0;
}

.social-icon-group {
  display: flex;
  align-items: center;
}

.social-icon-group img {
  width: 18px;
  height: 18px;
  margin: 0 0.25rem;
  transition: 0.2s ;
}

.social-icon-group img:hover {
  opacity: 0.7;
}

.results-list {
  width: 100%;
  border: 1px solid #8E8E93;
  background-color: #ffffff;
}

.row {
  cursor: pointer;
}

.row:nth-child(2n-1) {
  background: rgba(142, 142, 147, 0.2);
}

.row:hover {
  background: rgba(67, 197, 196, 0.15);
}

th {
  padding: 1rem;
  text-align: center;
}

td {
  padding: 1rem;
  text-align: left;
}

.name-cell {
  padding-left: 4rem;
}

td .social-icon-group {
  width: 200px;
  margin: 0 auto;
}

td .social-icon-group img {
  width: 25px;
  height: 25px;
  margin: 0 1.25rem;
  transition: 0.2s ;
}

.headshot-cell {
  height: 135px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}